html, body, #root, #page {
  margin: 0;
  padding: 0;
  width: 595px;
  height: 842px;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  color: #151722;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: -10;
}