#title {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
#title-text-top {
  padding-right: 10px;
}
#title-middle {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 900;
  padding: 3px 0;
}
#title-text-bottom {
  padding-left: 10px;
}

.title-caption{
  font-size: 12px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.line{
  height: 3px;
  background-color: black;
  border-radius: 1.5px;
  flex: 1;
}